/* ===================================
    Crafto - Travel agency
====================================== */
/* font */
/* @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:wght@400;500;600;700;800;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* variable */
:root {     
    --base-color: #90062e; 
    --light-gray: #E7E4DF;
    --red: #d03c3c;
    --very-light-gray:#F2EFEB;
    --alt-font: 'Be Vietnam Pro', serif;
    --primary-font: 'Be Vietnam Pro', serif;
}

.be-vietnam-pro-thin {
    font-family: "Be Vietnam Pro", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .be-vietnam-pro-extralight {
    font-family: "Be Vietnam Pro", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .be-vietnam-pro-light {
    font-family: "Be Vietnam Pro", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .be-vietnam-pro-regular {
    font-family: "Be Vietnam Pro", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .be-vietnam-pro-medium {
    font-family: "Be Vietnam Pro", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .be-vietnam-pro-semibold {
    font-family: "Be Vietnam Pro", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .be-vietnam-pro-bold {
    font-family: "Be Vietnam Pro", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .be-vietnam-pro-extrabold {
    font-family: "Be Vietnam Pro", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .be-vietnam-pro-black {
    font-family: "Be Vietnam Pro", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .be-vietnam-pro-thin-italic {
    font-family: "Be Vietnam Pro", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .be-vietnam-pro-extralight-italic {
    font-family: "Be Vietnam Pro", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .be-vietnam-pro-light-italic {
    font-family: "Be Vietnam Pro", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .be-vietnam-pro-regular-italic {
    font-family: "Be Vietnam Pro", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .be-vietnam-pro-medium-italic {
    font-family: "Be Vietnam Pro", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .be-vietnam-pro-semibold-italic {
    font-family: "Be Vietnam Pro", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .be-vietnam-pro-bold-italic {
    font-family: "Be Vietnam Pro", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .be-vietnam-pro-extrabold-italic {
    font-family: "Be Vietnam Pro", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .be-vietnam-pro-black-italic {
    font-family: "Be Vietnam Pro", serif;
    font-weight: 900;
    font-style: italic;
  }

  
/* reset */
body {
    font-size: 17px;
    line-height: 32px; 
}
section, footer {
    padding-top: 100px;
    padding-bottom: 100px;
}
section.big-section {
    padding-top: 120px;
    padding-bottom: 120px;
}
/* heading */
h1 { 
    line-height: 3.8rem;
}
/* header */
.navbar .navbar-nav .nav-link {
    font-size: 13px;
}
.header-icon .icon > a {
    font-size: 19px;
}
header .navbar-brand img {
    max-height: 34px;
}
.navbar .navbar-nav .dropdown.dropdown-with-icon-style02 .dropdown-menu li a {
    border-bottom: 1px solid var(--extra-medium-gray);
    padding: 16px 20px;
    font-weight: 500;
    font-size: 16px;
    color: var(--dark-gray);
}
.navbar .navbar-nav .dropdown.dropdown-with-icon-style02 .dropdown-menu li:hover img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(502%) contrast(502%);
}
.navbar .navbar-nav .dropdown.dropdown-with-icon-style02 .dropdown-menu li a:hover{
    background-color: var(--base-color);
    color: var(--white);
}
.navbar .navbar-nav .dropdown.dropdown-with-icon-style02 .dropdown-menu li.active > a {
        color: var(--medium-gray);
    }
.navbar .navbar-nav .dropdown.dropdown-with-icon .dropdown-menu {
    width: 320px;
}
.navbar .navbar-nav .dropdown.dropdown-with-icon .dropdown-menu li a {
    color: var(--dark-gray);
    font-size: 17px;
}
.navbar .navbar-nav .dropdown.dropdown-with-icon .dropdown-menu li a p {
    line-height: 22px;
    font-size: 14px;
}
.navbar .navbar-nav .dropdown.dropdown-with-icon .dropdown-menu li a img {
    width: 60px;
}
.navbar .navbar-nav .dropdown.dropdown-with-icon .dropdown-menu li.active > a {
    color: var(--medium-gray);
}
.push-menu .close-menu {
    right: 30px;
    top: 30px;
}
/* bg color */
.bg-gradient-gulf-blue-sepia-brown {
    background-image: linear-gradient(to right, #33455B, #494954, #795244, #91563D, #97573B);
}
.bg-bay-of-many-blue {
    background-color: #363f6d;
}
.bg-gradient-gray-light-dark-transparent {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(32, 35, 41, 1)), to(transparent));
    background-image: linear-gradient(to top, rgba(32, 35, 41, 1) 0%, transparent 70%);
}
.border-color-transparent-dark-very-light {
    border-color: rgba(35, 35, 35, 0.15) !important;
}
/* feature box */
.feature-box.feature-box-left-icon-middle .feature-box-icon {
    margin-right: 20px;
}
/* page title  */
.page-title-extra-large h1 {
    font-size: 4.375rem;
    line-height: 5rem;
}
.page-title-extra-large h2 {
    font-size: 16px;
    line-height: 16px;
    padding: 12px 25px;
    display: inline-block;
}
.page-title-button-style h1 {
    padding: 0;
    display: block;
}
.small-screen {
    height: 350px !important;
}
/* btn */
.btn.btn-extra-large {
    font-size: 18px;
    padding: 16px 36px 16px; 
}
.btn.btn-large {
    font-size: 17px;
    padding: 14px 32px;
}
.btn.btn-medium {
    font-size: 15px;
    padding: 12px 30px;
}
.btn.btn-small {
    font-size: 14px;
    padding: 10px 25px;
}
.btn.btn-very-small {
    font-size: 12px;
    padding: 8px 20px;
}
.btn.btn-link {
    padding: 0 0 2px;
}
.btn i {
    margin-left: 6px;
}
.team-style-01 figure figcaption .social-icon a {
    margin: 0 7px;
}
/* blog */
.blog-modern figure .post-content-wrapper {
    bottom: -50px;
}
/* top right bottom left */
.top-minus-75px {
    top: -75px;
}
/* footer */
footer .elements-social ul li:last-child {
    margin-right: 0;
}
.footer-navbar li a:hover {
    color: var(--medium-gray);
}
footer .nav-link {
    line-height: normal;
    color: var(--dark-gray);
}
footer .elements-social ul li {
    margin: 0;
}
/* Revolution slider jquery */
.erinyen .tp-tab-title {
    font-size: 66px !important; text-align: center !important; text-transform: inherit !important; line-height: 60px !important; font-family: 'Barlow Semi Condensed', sans-serif !important; font-weight: 600 !important; letter-spacing: -3.3px; color: #ffffff !important;
}
.rev_column {
    border-right: 1px solid rgba(255,255,255,0.3)
}
.rev_column:last-child {
    border-right: 0px solid rgba(255,255,255,0.3)
}
.hesperiden.tparrows { width: 45px; height: 45px;background: rgba(0,0,0,.4); -webkit-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out}
.hesperiden.tparrows:hover {background: #fff; }
.hesperiden.tparrows:before {line-height: 45px;}
.hesperiden.tparrows.tp-rightarrow:hover:before, .hesperiden.tparrows.tp-leftarrow:hover:before {color: #000}
.hesperiden.tparrows.tp-leftarrow:before { content: "\f104";font-family: "Font Awesome 6 Free";font-size: 15px; font-weight: 900}
.hesperiden.tparrows.tp-rightarrow:before { content: "\f105";font-family: "Font Awesome 6 Free";font-size: 15px; font-weight: 900; margin-right: 0}
/* media query responsive */
@media (min-width: 2100px){
    .background-image-layer {max-width: 120%!important; width: 3000px!important; overflow-y: visible!important; }
    .extra-grass-layer {max-width: 120%!important; width: 3000px!important; bottom: -200px; }
}
@media (max-width: 1199px) and (min-width: 992px){
    .blog-modern figure .post-content-wrapper { width: 90%; }
    .blog-modern figure .post-content-wrapper .separator { margin: 0 9px; }
}
@media (max-width: 1200px) and (min-width: 1024px){
    .object-layer {max-width: 800px !important; width: 800px !important;min-width: 800px !important;}
    .blog-modern figure .post-content-wrapper { width: 90%; }
}
@media (max-width: 991px){
    section, footer {
        padding-top: 75px;
        padding-bottom: 75px;
    }
    section.big-section {
        padding-top: 95px;
        padding-bottom: 95px;
    }
    .navbar .navbar-nav .simple-dropdown .dropdown-menu {
        margin-top: 15px;
    }
    .navbar .navbar-nav .simple-dropdown .dropdown-menu li a {
        padding: 14px 0 15px;
    }
}
@media (max-width: 767px){
    section, footer {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    section.big-section {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .small-screen {
        height: 300px !important;
    }
    .sm-clear-both {
        clear: both
    }
}
@media (max-width: 777px){
    .tp-loop-wrap .tp-parallax-wrap:nth-child(4) {display: none}
    #travel-agency_wrapper { height: 700px !important;}
    .tp-fullwidth-forcer {height: 700px !important;}
    section, footer { padding-top: 50px; padding-bottom: 50px; }
}
@media (max-width: 479px){
    .rev_row .rev_column:nth-child(4) {display: none !important;}   
    .rev_row .rev_column:nth-child(2) {display: none !important;}   
    #travel-agency_wrapper { height: 700px !important;}
    .tp-fullwidth-forcer {height: 700px !important;}
}
@media (max-width: 991px) and (min-width: 800px) and (orientation: landscape) {
    #travel-agency-slider_forcefullwidth {height: 500px !important;}
    #travel-agency_wrapper {height: 500px !important;}
    .background-image-layer {display: none!important;}
    .extra-grass-layer {max-width: 100%!important; width: 1200px!important;}
    .object-layer {max-width: 600px !important; width: 600px !important;min-width: 600px !important;}
    .rev_row .rev_column:nth-child(4) {display: none !important;}
    .package-details .rev_column {padding-bottom: 20px!important;}
    #slide-02-layer-03, #slide-02-layer-01, #slide-02-layer-02, #slide-03-layer-05, #slide-03-layer-01, #slide-03-layer-02, #slide-03-layer-04, #slide-03-layer-06 {max-width: 1200px !important; width: 1200px !important;min-width: 1200px !important;}
    #slide-02-layer-05 { bottom: 60px !important;}
}

.ml-0{
    margin-left:0px;
}

.custom-menu-btn{
    background: var(--white);
    height: 2px;
    width: 22px;
    content: "";
    display: block;
    border-radius: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

.custom-push-btn{
    position: relative;
    display: block;
    width: 22px;
    height: 14px;
    padding: 0;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.custom-header-icon{
    position: relative;
    line-height: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.masonry {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-auto-rows: 10px;
    gap: 20px;
}

.item {
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    color: #fff;
}
.item:hover {
    transform: translateY(-10px);
    transform: scale(1.02);
}

.item1 { grid-row: span 15; background-color: #ff6f61; }
.item2 { grid-row: span 20; background-color: #6b5b95; }
.item3 { grid-row: span 10; background-color: #88b04b; }
.item4 { grid-row: span 15; background-color: #d65076; }
.item5 { grid-row: span 23; background-color: #ffb347; }
.item6 { grid-row: span 13; background-color: #45b8ac; }
.item7 { grid-row: span 20; background-color: #e94b3c; }
.item8 { grid-row: span 10; background-color: #6c5b7b; }
.item9 { grid-row: span 25; background-color: #00a86b; }
.item10 { grid-row: span 30; background-color: #b565a7;}

.overlay{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00000087;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease-in-out;
  border-radius: 10px;
}

.container:hover .overlay {
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}



.menu-sec {
    position: relative;
    line-height: 0.9;
  }
  .menu-sec li {
    list-style: none;
    text-align: center;
  }
  .menu-sec li a {
    color: #333;
    text-decoration: none;
    font-size: 2em;
    padding: 5px 20px;
    display: inline-flex;
    font-weight: 700;
    transition: 0.5s;
  }
  .menu-sec:hover li a {
    color: #000;
  }
  .menu-sec li:hover a {
    color: #000;
    background: transparent;
  }
  .menu-sec li a:before{
    content: "";
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 500px;
    transition: letter-spacing 0.5s, left 0.5s;
  }
  .menu-sec li a:hover:before {
    content: attr(data-text);
    position: absolute;
    opacity: 1;
    left: 50%;
    letter-spacing: 10px;
    width: 1800px;
    height: 1800px;
  }
  
  /* .menu-sec li:nth-child(6n + 1) a:before {
    background: #0470fe;
  }
  .menu-sec li:nth-child(6n + 1) a:before {
    background: #0470fe;
  }
  .menu-sec li:nth-child(6n + 2) a:before {
    background: #ff7675;
  }
  .menu-sec li:nth-child(6n + 3) a:before {
    background: #1582fe;
  }
  .menu-sec li:nth-child(6n + 4) a:before {
    background: #a29bfe;
  }
  .menu-sec li:nth-child(6n + 5) a:before {
    background: #fd79a8;
  }
  .menu-sec li:nth-child(6n + 6) a:before {
    background: #ffeaa7;
  } */
  

  .menu-sub-item{
    opacity: 1;
  }

  .main-menu-sub-item{
text-align: left;
  }

  .main-menu-item{
    min-height: 5rem;
    height: 14rem;
  }

  .main-menu-headers{
    font-size: 30px;
    color: #000;
    font-weight: 500;
  }

  .menu-item-name{
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    padding: 8px 0px;
    text-align: left;
  }

  .section-bg-custom-color{
    /* background-image: var(--bg-color-combo); */
    /* background-image: linear-gradient(to right, #7c8993, #8c8a8f, #a08d89, #ae8f84, #b08f83); */
    background-image: linear-gradient(to right, #adadad, #b0adb5, #e3dfde, #cfbcb6, #cfbab2);
  }

  .section-bgtwo-custom-color{
    background-image: linear-gradient(to right, #cccccc, #cccccc, #cccccc, #cccccc, #cccccc);
  }

  .section-bgthree-custom-color{
    background-image: linear-gradient(to right, #F9F3DF, #FDFCE5, #F9F3DF, #FDFCE5, #F9F3DF);
  }

  .section-bgfour-custom-color{
    background-image: linear-gradient(to right, #E1ECC8, #E1ECC8, #E1ECC8, #F7FFE5, #F7FFE5);
  }



  /*menu styles custom */
  .menu-headers{
    color: #000;
    font-size: 23px;
    padding-bottom: 15px;
    /* border-bottom: 2px solid rgba(29, 29, 29, .3); */
    padding-top: 1%;
  }
  .menu-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 0;
    margin: 0 15px 0 0;
    border-bottom: 1px solid #c6c6c6;
  }
  /* .menu-item:hover{
    color: var(--base-color);
  } */
  .menu-item-name{
    padding: 15px 0 15px;
    list-style: none;
  }
  .menu-item-name:hover{
    color: var(--base-color);
  }



  /*home collapsible column */
  /* .containerr {
    display: flex;
  }
  
  .containerr > div {
    flex: 1;
    border-right: 2px solid black;
    height: 300px;
    padding: 10px;
    transition: 0.5s flex;
  }
  
  .containerr > div:hover {
    flex: 3;
  }
  
  .containerr > div:last-child {
    border-right: 0;
  }
  
  @media screen and (max-width: 700px) {
    .containerr {
      flex-direction: column;
      height: 100vh;
    }
    
    .containerr > div {
      border-right: none;
      border-bottom: 2px solid;
    }
  } */




  /* .grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 100%;
    height: 100%;
    grid-gap: 10px;
  }
  
  .grid-item1 {
    background-image: url("https://images.unsplash.com/photo-1534719156993-f3c9448673bf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f089cfa06eb1cd7c0f654b39d8fdfd07&auto=format&fit=crop&w=1350&q=80");
    background-size: cover;
    background-position: center;
    grid-column: 1/4;
    grid-row: 1/2;
  }
  
  .grid-item2 {
    background-image: url("https://images.unsplash.com/photo-1534759846116-5799c33ce22a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=19c8355cd5aff72debf2f4720f4c7e09&auto=format&fit=crop&w=688&q=80");
    background-size: cover;
    background-position: center;
    grid-column: 1/2;
    grid-row: 2/5;
  }
  
  .grid-item3 {
    background-image: url("https://images.unsplash.com/photo-1508097549463-97f74cb9a6aa?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=52c257bf60c788a1332419c74c6a8a01&auto=format&fit=crop&w=1350&q=80");
    background-size: cover;
    background-position: center;
    grid-column: 1/5;
    grid-row: 5/5;
  }
  
  .grid-item4 {
    background-image: url("https://images.unsplash.com/photo-1507562534834-42ebd36b00ea?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f712012a42c9e9d9163fd9a0c80fd66a&auto=format&fit=crop&w=1202&q=80");
    background-size: cover;
    background-position: center;
    grid-column: 2/4;
    grid-row: 2/5;
  }
  
  .grid-item5 {
    background-image: url("https://images.unsplash.com/photo-1534714259038-764cb4cf1d58?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d07ea713fcf12221034dafd8f4ffe82b&auto=format&fit=crop&w=1350&q=80");
    background-size: cover;
    background-position: center;
    grid-column: 4/6;
    grid-row: 1/3;
  }
  
  .grid-item6 {
    background-image: url("https://images.unsplash.com/photo-1515694581961-1fbdb6840a5f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4267be6fb944c94b672e0b3ddb458286&auto=format&fit=crop&w=634&q=80");
    background-size: cover;
    background-position: center;
    grid-column: 4/5;
    grid-row: 3/5;
  }
  
  .grid-item7 {
    background-image: url("https://images.unsplash.com/photo-1534703580202-6123d4189ef6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5478b30dec2346f00a40ab259d162068&auto=format&fit=crop&w=634&q=80");
    background-size: cover;
    background-position: center;
    grid-column: 5/6;
    grid-row: 3/6;
  }
  
  .grid-item8 {
    background-image: url("https://images.unsplash.com/photo-1534743901536-d184ed4194bc?ixlib=rb-0.3.5&s=21fd4555141d93425b8ee3f80f764e69&auto=format&fit=crop&w=634&q=80");
    background-size: cover;
    background-position: center;
    grid-column: 6/8;
    grid-row: 1/6;
  } */
  
  #collage-section{
    .image-container {
      position: relative;
      /*width: 300px;  Set the desired width */
      /*height: 200px;  Set the desired height */
      overflow: hidden;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .header {
      position: absolute;
      bottom: 10px; /* Adjust positioning as needed */
      left: 10px; /* Adjust positioning as needed */
      color: white;
      font-size: 20px;
      padding: 5px 10px;
      background-color: rgba(0, 0, 0, 0.5); /* Background for header */
      border-radius: 5px; /* Optional: add some corner rounding */
      z-index: 1; /* Ensure header is above the image */
  }
  
  .image {
      width: 100%;
      height: auto;
      display: block;
  }
  
  .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0; /* Initially hidden */
      transition: opacity 0.3s ease; /* Fade effect */
      z-index: 0; /* Keep it behind the header */
  }
  
  .image-container:hover .overlay {
      opacity: 1; /* Fade in on hover */
  }
  
  .text {
      text-align: left;
      padding: 10px;
      font-size: 17px;
      line-height: 1.5;
      text-align: left !important;
      position: absolute;
      width: 100%;
  }
  .image-text1{
    top: 72%;
    left: 50%;
  }
  .image-text2{
    top: 79%;
    left: 50%;
  }
  .image-text3{
    top: 52%;
    left: 50%;
  }
  .image-text4{
    top: 72%;
    left: 50%;
  }
  .image-text5{
    top: 80%;
    left: 50%;
  }
  .image-text6{
    top: 67%;
    left: 50%;
  }
}
